div.container-fluid
  div.row

    div#search-input.col-md-2

      |Search:
      input(
      ng-model='query'
      )
      |  Sort by:
      select(
      ng-model='orderProp'
      )
        option(
        value='name'
        ) Alphabetical
        option(
        value='age'
        ) Newest

    div#search-result.col-md-10

      ul.phones
        li.thumbnail.phone-listing(
        ng-repeat='phone in phones | filter:query | orderBy:orderProp'
        )
          a.thumb(
          ng-href='#phones/{{phone.id}}'
          )
            img(
            ng-src='{{phone.imageUrl}}'
            )
          a(
          ng-href='#phones/{{phone.id}}'
          ng-bind='phone.name'
          )
          p(
          ng-bind='phone.snippet'
          )
